@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Merriweather:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #003049;
  color: #fff;
  font-family: "Epilogue", sans-serif;
  font-family: "Merriweather", serif;
  padding-inline: 15px;
}
/* GENERAL STYLES */
html {
  font-size: 62.5%;
}
.img-container {
  width: 70px;
}
img {
  width: 100%;
}
.btn,
.pay-btn {
  padding: 7px 25px;
}
.cart-btn {
  padding: 3px 6px;
  font-size: 1.8rem;
}
input {
  padding: 8px;
}
td {
  font-size: 2rem;
}
.pizza-list:nth-child(even) {
  background-color: #eae2b7;
  color: #003049;
}

/* +++++++++++ */
table {
  border-collapse: collapse;
}
.table-cart {
  background: #003049;
  padding: 1em;
  color: #fff;
  border: 1px solid #eae2b7;
}
.table-cart th {
  font-size: 1.5rem;
}
.table-cart tr td {
  border: 1px solid #eae2b7;
}
th,
td {
  padding: 1rem;
}
th {
  text-align: left;
}
.qty,
.qty-column {
  text-align: center;
}
.pizzas-section {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  padding-block: 2rem;
}
/* +++++++++++ */
